<div style="padding: 5px;">
  <ul class="nav nav-tabs">
    <!-- <li <a[routerLink]="[ '/employee-list' ]" routerLinkActive="active">List</a> -->
    <!-- <li routerLinkActive="active">
      <a [routerLink]="['/list']" routerLinkActive="router-link-active">List</a>
    </li> -->
    <li routerLinkActive="active">
      <a [routerLink]="['/add']" routerLinkActive="router-link-active">Add Employee</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/login']" routerLinkActive="router-link-active">View Employees</a>
    </li>
    
  </ul>

</div>

<router-outlet></router-outlet>